In [2]:
import pandas as pd

In [11]:
aircraft = pd.read_csv("./data/aircraft.csv",
                                    encoding = "ISO-8859-1", 
                                    sep=';')
events = pd.read_csv("./data/events.csv",
                                    sep='|')  
occurrences = pd.read_csv("./data/Occurrences1.csv",
                                    sep=';')

C:\Users\jesus\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (4,7,17,27,28,32,37,38,47,48,53,63,70,72,73,76,82) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\jesus\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
pd.options.display.max_rows = 10
aircraft['ev_id'].value_counts()

20001212X19172    3
20001214X45071    3
20100204X45658    3
20101022X34140    3
20070518X00587    2
                 ..
20040726X01062    1
20001207X02891    1
20090706X10333    1
20060927X01405    1
20010110X00255    1
Name: ev_id, dtype: int64

In [13]:
pd.options.display.max_columns = 93

aircraft[aircraft['ev_id'] == '20001212X19172']

# different rows for same ev_id :       'Aircraft_Key'  one for each aircraft involved in the accident
#                                       'damage'   
#                                       'phase_flt_spec'  there can be small differences in the phase of flight but they will
#                                                         belong to the same 'general phase'; example: 520, 500, 520

,ev_id,Aircraft_Key,regis_no,ntsb_no,acft_missing,far_part,flt_plan_filed,flight_plan_activated,damage,acft_fire,acft_expl,acft_make,acft_model,acft_series,acft_serial_no,cert_max_gr_wt,acft_category,acft_reg_cls,homebuilt,fc_seats,cc_seats,pax_seats,total_seats,num_eng,fixed_retractable,type_last_insp,date_last_insp,afm_hrs_last_insp,afm_hrs,elt_install,elt_oper,elt_aided_loc_ev,elt_type,owner_acft,owner_street,owner_city,owner_state,owner_country,owner_zip,oper_individual_name,oper_name,oper_same,oper_dba,oper_addr_same,oper_street,oper_city,oper_state,oper_country,oper_zip,oper_code,certs_held,oprtng_cert,oper_cert,oper_cert_num,oper_sched,oper_dom_int,oper_pax_cargo,type_fly,second_pilot,dprt_pt_same_ev,dprt_apt_id,dprt_city,dprt_state,dprt_country,dprt_time,dprt_timezn,dest_same_local,dest_apt_id,dest_city,dest_state,dest_country,phase_flt_spec,report_to_icao,evacuation,lchg_date,lchg_userid,afm_hrs_since,rwy_num,rwy_len,rwy_width,site_seeing,air_medical,med_type_flight,acft_year,fuel_on_board,commercial_space_flight,unmanned,ifr_equipped_cert,elt_mounted_aircraft,elt_connected_antenna,elt_manufacturer,elt_model,elt_reason_other
19288,20001212X19172,1,N712RD,CHI99FA266A,N,091,NONE,NaN,DEST,GRD,NONE,Chance Vought,F4U-4,F4U-4,97280,13300,AIR,USUS,N,NaN,NaN,NaN,1,1,RETR,ANNL,12/11/1998,15,2346,N,U,U,NaN,CAVANAUGH FLIGHT MUSEUM INC.,4572 CLAIRE CHENNAULT,ADDISON,TX,NaN,75001,NaN,NaN,Y,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,N,N,UNK,NaN,NaN,NaN,NaN,PERS,N,Y,OSH,NaN,NaN,NaN,1500,CDT,LOCL,NaN,NaN,NaN,NaN,520,NaN,NaN,13/03/2003,NTSB\HAMG,NaN,18,8002,150,N,N,NaN,NaN,NaN,FALSO,FALSO,FALSO,FALSO,FALSO,NaN,NaN,NaN
19289,20001212X19172,2,N14HP,CHI99FA266B,N,091,NONE,NaN,SUBS,NONE,NONE,Grumman,F8F-1,F8F-1,90446,8803,AIR,USUS,N,NaN,NaN,NaN,1,1,RETR,ANNL,20/08/1998,53,2200,Y,N,U,NaN,BRECKENRIDGE AVIATION MUSEUM,P. O. BOX 388,BRECKENRIDGE,TX,NaN,76034,NaN,NaN,Y,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,N,N,UNK,NaN,NaN,NaN,NaN,PERS,N,Y,OSH,NaN,NaN,NaN,1500,CDT,LOCL,NaN,NaN,NaN,NaN,500,NaN,NaN,02/01/2001,dbo,NaN,18,8002,150,N,N,NaN,NaN,NaN,FALSO,FALSO,FALSO,FALSO,FALSO,NaN,NaN,NaN
19290,20001212X19172,3,N179PT,CHI99FA266C,N,091,NONE,NaN,SUBS,NONE,NONE,Chance Vought,F4U-5,F4U-5,122179,13297,AIR,USUS,N,NaN,NaN,NaN,2,1,RETR,ANNL,25/05/1999,10,1356,Y,N,U,NaN,JRMC INC,P. O. BOX 1298,DOVER,DE,NaN,19903,NaN,JAMES M. READ,N,NaN,N,218 RIVERSIDE DRIVE,CHESTERTON,IN,NaN,46304,NaN,N,N,UNK,NaN,NaN,NaN,NaN,PERS,N,Y,OSH,NaN,NaN,NaN,1500,CDT,LOCL,NaN,NaN,NaN,NaN,520,NaN,NaN,02/01/2001,dbo,NaN,18,8002,150,N,N,NaN,NaN,NaN,FALSO,FALSO,FALSO,FALSO,FALSO,NaN,NaN,NaN

In [20]:
pd.options.display.max_columns = 71
pd.options.display.max_rows = 3
 
events['ev_id'].value_counts()

C:\Users\jesus\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

20081004X12033    1
                 ..
20111013X34429    1
Name: ev_id, dtype: int64

In [21]:
pd.options.display.max_rows = 10

occurrences['ev_id'].value_counts()

20020917X02282    8
20001211X09798    8
20001214X37511    8
20001214X35691    7
20020917X04016    7
                 ..
20001211X11501    1
20001207X03053    1
20001212X16623    1
20020917X03588    1
20001213X31466    1
Name: ev_id, dtype: int64

In [28]:
pd.options.display.max_columns = 8
pd.options.display.max_columns = 10

occurrences[occurrences['ev_id'] == '20020917X02282']

# we can reach a conclusion: when we are looking for the 'Occurrence_Code' we do not have to use drop_duplicates here; however when
#                            we are looking for the Phase_of_Flight we do need to use drop_duplicates['Occurrence_Code'] in order 
#                            to avoid the repetition of the same 'Phase_of_Flight' when there must be one for each airplane

,ev_id,Aircraft_Key,Occurrence_No,Occurrence_Code,Phase_of_Flight,Altitude,lchg_date,lchg_userid
109961,20020917X02282,1,1,270,531,0,17/09/2002,dbo
109962,20020917X02282,1,2,250,553,0,17/09/2002,dbo
109963,20020917X02282,1,3,430,553,0,17/09/2002,dbo
109964,20020917X02282,1,4,230,553,0,17/09/2002,dbo
109965,20020917X02282,2,1,270,531,0,17/09/2002,dbo
109966,20020917X02282,2,2,250,553,0,17/09/2002,dbo
109967,20020917X02282,2,3,430,553,0,17/09/2002,dbo
109968,20020917X02282,2,4,230,553,0,17/09/2002,dbo